<form>
  <div class="form-group">
    <label for="search_copier">Copier Search</label>
    <%= search_form_for @q, html: { class: "form-inline", id: "search_copier" } do |f| %>
      <%= f.search_field :name_or_manufacturer_cont, placeholder: "Search...", class: "form-control" %>
      
    <% end %>
  </div>
  <!--<div class="form-group">-->
  <!--  <label for="formGroupExampleInput2">Another label</label>-->
  <!--  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">-->
  <!--</div>-->
</form>

